
@keyframes anim1{
    0%{z-index: 3; transform: translate(0px, 0px) scale(1); filter: blur(0px);}
    14%{z-index: 3; transform: translate(0px, 0px) scale(1); filter: blur(0px);}

    28%{z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(10px);}
    42%{z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(30px);}

    56%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(30px);}
    70%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(10px);}

    84%{z-index: 3; transform: translate(0px, 0px) scale(1); filter: blur(0px);}
    100%{z-index: 3; transform: translate(0px, 0px) scale(1); filter: blur(0px);}
}
@keyframes anim2{
    0%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(30px);}
    14%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(10px);}

    28%{z-index: 3; transform: translate(0px, 0px) scale(1); opacity: 1; filter: blur(0px);}
    42%{z-index: 3; transform: translate(0px, 0px) scale(1); opacity: 1; filter: blur(0px);}

    56%{ z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(10px);}
    70%{ z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(30px);}

    84%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(30px);}
    100%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(30px);}
}

@keyframes anim3{
    0%{z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(30px);}
    14%{z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(30px);}

    28%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(30px);}
    42%{z-index: 2;transform: translate(150px, -200px) scale(.5); opacity: .5; filter: blur(10px);}

    56%{z-index: 3; transform: translate(0px, 0px) scale(1); opacity: 1; filter: blur(0px);}
    70%{z-index: 3; transform: translate(0px, 0px) scale(1); opacity: 1; filter: blur(0px);}

    84%{z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(10px);}
    100%{z-index: 1; transform: translate(250px, -250px) scale(.3); opacity: .2; filter: blur(30px);}
}

@keyframes bganim{
    0%{ background: rgb(228, 173, 102);}
    14%{background: rgb(228, 173, 102);}

    28%{background: rgb(111, 97, 236);}
    42%{background: rgb(111, 97, 236);}

    56%{background: rgb(241, 240, 155);}
    70%{background:  rgb(241, 240, 155);}

    84%{background:rgb(228, 173, 102);;}
    100%{background:rgb(228, 173, 102);;}
}
